@page
@model FiscalFriendsWeb.Pages.Account.ProfileModel
@{
    
    Layout = HttpContext.User.Identity.IsAuthenticated ? "_LayoutAuthentication" : "_Layout";
}
<div class="row m-2">
    <div class="col-10">
        <label>@Model.UserProfile.FirstName</label>
    </div>
    <div class="col-10">
        <label>@Model.UserProfile.LastName</label>
    </div>
    <div class="col-10">
        <label>@Model.UserProfile.UserName</label>
    </div>
    <div class="col-10">
        <label>@Model.UserProfile.Email</label>
    </div>
    <div class="col-10">
        <label>@Model.UserProfile.LastLoggedIn</label>
    </div>
</div>
