@page
@model FiscalFriendsWeb.Pages.DailyExpenses.ViewDailyExpensesModel
@{
    Layout = HttpContext.User.Identity.IsAuthenticated ? "_LayoutAuthentication" : "_Layout";
}
<form method="post" class="form-group">
    <div class="row m-2">
        <label class="form-label">Category</label>
    </div>
    <div class="col-8">
        <select asp-for="SelectedCategoryId" asp-items="Model.Categories"></select>
    </div>
    <div class="col-2">
        <button class="btn btn-primary" id="btnView">Display</button>
    </div>

    @foreach (var DailyExpense in Model.DailyExpenses)
    {
        <div class="row m-2 border">
            <div class="row m-2">
                <div class="col-2">
                    <label class="form-label" asp-for="@DailyExpense.date"></label>
                </div>
                <div class="col-10">
                    <label class="form-label">@DailyExpense.date</label>
                </div>
            </div>

            <div class="row m-2">
                <div class="col-2">
                    <label class="form-label" asp-for="@DailyExpense.Category"></label>
                </div>
                <div class="col-10">
                    <label class="form-label">@DailyExpense.Category</label>
                </div>
            </div>

            <div class="row m-2">
                <div class="col-2">
                    <label class="form-label" asp-for="@DailyExpense.vendor"></label>
                </div>
                <div class="col-10">
                    <label class="form-label">@DailyExpense.vendor</label>
                </div>
            </div>

            <div class="row m-2">
                <div class="col-2">
                    <label class="form-label" asp-for="@DailyExpense.paymentMethod"></label>
                </div>
                <div class="col-10">
                    <label class="form-label">@DailyExpense.paymentMethod</label>
                </div>
            </div>

            <div class="row m-2">
                <div class="col-2">
                    <label class="form-label" asp-for="@DailyExpense.amount"></label>
                </div>
                <div class="col-10">
                    <label class="form-label">@DailyExpense.amount</label>
                </div>
            </div>

            <div class="row m-2">
                <div class="col-2">
                    <label class="form-label" asp-for="@DailyExpense.description"></label>
                </div>
                <div class="col-10">
                    <label class="form-label">@DailyExpense.description</label>
                </div>
            </div>

            <div class="row m-2">
                <div class="col-2">
                    <a asp-page="EditDailyExpense" asp-route-id="@DailyExpense.ExpenseId" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
    }

</form>